@model Coocis.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div>
    <b>@Html.DisplayNameFor(model => model.Author):</b>
    @Html.DisplayFor(model => model.Author) |
    @Html.DisplayFor(model => model.ReleaseDateTime)
    <hr />
    @Html.DisplayTextFor(model => model.Content)
</div>
<hr />
<span>
    @Html.ActionLink("Back to List", "Index")
</span>
<span style="float:right">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
</span>
