@model Coocis.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div class="clearfix">
    <b>@Html.DisplayNameFor(model => model.Author):</b>
    @Html.DisplayFor(model => model.Author) |
    @Html.DisplayFor(model => model.ReleaseDateTime)
    <hr />
    <div>
        @Html.Raw(Model.Content)
    </div>
</div>
<hr />
<div>
    <span>
        @Html.ActionLink("Back to List", "Index")
    </span>
    <span style="float:right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </span>
</div>